        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="/">
                    <img src="/images/logo.png" style="height: 60px;" alt="Cool Admin" />
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
<li>
                                    <a href="/products/product">Sản Phẩm</a>
                                </li>
                                <li>
                                    <a href="/products/producttype">Danh Mục Sản Phẩm</a>
                                </li>
                                <li>
                                    <a href="/products/order">Đơn hàng</a>
                                </li>
                                <li>
                                    <a href="/products/user">Tài khoản người dùng</a>
                                </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->