<div class="container">
    <h1>Thêm Sản phẩm</h1>
    <form method="post">
        <p>Tên</p>
        <input class="form-control" type="text" name="name" >
        <p>Thương hiệu</p>
        <input class="form-control" type="text" name="brand" >
        <p>Giá</p>
        <input class="form-control" type="text" name="price" >
        <p>Số lượng</p>
        <input class="form-control" type="text" name="amount" >
        <p>Ảnh</p>
        <input class="form-control" type="img" name="image" >
        <p>Mô tả</p>
        <input class="form-control" type="text" name="description" >
        <p>Kích cỡ</p>
        <input class="form-control mr-3" type="text" name="namesize" placeholder="Tên size">
        <p>Danh mục :</p>
        <div class="form-group">
          <label for=""></label>
          <select class="form-control" name="producttype" id="">
            {{#each producttype}}
            <option>
                {{#each this}}
                {{name}}
                {{/each}}
            </option>
           {{/each}}
          </select>
        </div>
        <br>
        <button class="btn btn-primary mt-5">Thêm</button>
    </form>

</div>