<div class="home">
		<br>
		<br>
		<br>
		<br>
	<div class="text-center cont">
		<h2 class="p-5" style="color: white;">Chào mừng bạn đến với trang quản lý ShopMen</h2>
	</div>
</div>

<style scoped>
.home{
	background-image: url('/images/index.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 80vh;
}
.cont{
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 100px;
}
</style>